{% extends 'BaseBundle:Masters:master.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
     {{parent()}}
           {# <link href="{{ asset('bundles/base/css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />#}
           
{% endblock %}


    
{% block sidebar %} 
          {% include 'EmisionesBundle:Menu:supervisor.html.twig' %}
 {% endblock %}
                        
{%block titlepage %}
     <h1>
        Dashboard
        <small>Agentes</small>
    </h1>
 {%endblock%}
 
{% block breadcrumb %}
     <li><a href="{{path('index')}}"><i class="fa fa-dashboard"></i> Home</a></li>
     <li class="active">Cambiar Contrase&ntilde;a</li>
 {% endblock %}
     
{% block area %}
    <div class="col-sm-12 ">
     <div class="box box-primary">
                                <div class="box-header">
                                    <div class="pull-left box-tools">                                        
                                        <a href="{{path('supervisor_new_agente')}}" title="" data-toggle="tooltip"  class="btn btn-sm btn-bg bg-blue btn-circle" data-original-title="Registrar"><i class="fa fa-plus"></i></a>
                                        <a href="{{path('supervisor_index_agentes')}}" title="" data-toggle="tooltip"  class="btn btn-sm btn-bg bg-navy btn-circle" data-original-title="Listar"><i class="fa fa-list"></i></a>
                                    </div>
                                    <h3 class="box-title pull-right">Cambiar Contrase&ntilde;a</h3>
                                   
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <form action="{{path('supervisor_agente_update_clave',{'id':entity.id})}}" {{form_enctype(edit_form) }} method="post" >
                                      
                                        
                                            <div class="form-group">
                                                <label >{{ 'layout.password'|trans }}:</label>
                                                
                                                {{ form_widget(edit_form.plainPassword) }}
                                                <p class="help-block">{{form_errors(edit_form.plainPassword)}}</p>
                                            </div>
                                        
                                        <div id="notificaciones"></div>
                                            
                                            
                                             
                                       {{form_rest(edit_form)}}
                                            <div class="footer">                                                               
                                                <button type="submit"   class="btn btn-sm bg-blue-gradient "><i class="fa fa-save"></i> Guardar Contarse&ntilde;a</button>  

                                            
                                            </div>
                                    </form>
                                
                                    
                                </div><!-- /.box-body -->
     </div><!-- /.box -->
        </div>
  {% endblock %}
{% block javascripts %}
      {{parent()}}
     <script type="text/javascript">
      $(document).ready(function() {
          $('#aplicacion_emisionesbundle_agente_username').hide();
          $('#aplicacion_emisionesbundle_agente_username').val("{{entity.username}}");
          
         
      })
      </script>
{% endblock %}
