{% extends 'BaseBundle:Masters:index.html.twig' %}
{% block sidebar %} 
   {% include 'EmisionesBundle:Menu:submenucounter.html.twig' %}
 {% endblock %}

   
 {%block titlepage %}
     <h1>
        Ordenes
        <small>Procesar</small>
    </h1>
 {%endblock%}
     
 {% block breadcrumb %}
     <li><a href="{{path('index')}}"><i class="fa fa-dashboard"></i> Home</a></li>
     <li> <a href="{{path('EmisionesBundle_queue_manger')}}"><i class="fa fa-align-justify"></i> Ordenes</a></li>
     <li class="active">Detalle</li>
 {% endblock %}

{% block area -%}
    
    <div class="col-md-12">

                            <div class="box box-primary">
                                <div class="box-header">
                                    <div class="pull-right box-tools pull-left">                                        
                                        <a href="{{path('EmisionesBundle_queue_manger')}}" title="" data-toggle="tooltip"  class="btn btn-circle btn-sm btn-bg bg-blue" data-original-title="Cola"><i class="fa fa-sort-numeric-asc"></i></a>
                                    </div>
                                    <h3 class="box-title pull-right"><i class="fa fa-suitcase"></i> {{entity.agente.agencia}}&nbsp;&nbsp;{{entity.agente.agencia.ruc}}</h3>
                                </div>
                                    <hr>
                                    <div class="box-body">
                                        <table class="table table-bordered table-responsive table-condensed table-hover table-striped">
                                            <thead>                                                
                                            <th style="width: 15%;">Atributos</th><th>Valor</th>
                                            </thead> 
                                            {%if entity.adjunto%}
                                                <tr>
                                                    <th>Adjunto</th>
                                                    <td>
                                                        <a onclick="openAdjunto('{{entity.adjunto}}');" href="#"><i class="fa fa-clipboard"></i> {{entity.adjunto}}</a>
                                                    </td>
                                                </tr>
                                            {%endif%}
                                            <tr>
                                                <th>N&uacute;mero de Orden</th>
                                                <td>
                                                    {{entity.gettipo}}&nbsp;&nbsp;&nbsp;{{entity.numeroOrden}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de Solicitud</th>
                                                <td>
                                                    {{entity.fecha|date("d - M - Y") }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Agente</th>
                                                <td>
                                                    {{entity.agente}}
                                                </td>                                               
                                            </tr>
                                            <tr>
                                                <th>Counter</th>
                                                <td>
                                                    {%if entity.usuario%}
                                                    {{entity.usuario}}
                                                    {%else%}
                                                    <b class="text-red">NO ASIGNADA</b>
                                                    {%endif%}
                                                </td>                                               
                                            </tr>
                                            <tr>
                                                 <th>Prioridad</th>
                                                <td>
                                                    {{entity.prioridad}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>GDS</th>
                                                <td>
                                                    {{entity.gds}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ciudad</th>
                                                <td>
                                                    {{entity.ciudadDestino}}
                                                </td>
                                            </tr>
                                            <tr>
                                             <th>FEE de Servicios</th>
                                                <td>
                                                    {{entity.feeServicios}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Tipo de Boleto</th>
                                                <td>
                                                    {{entity.tipoBoleto}}
                                                </td>
                                            </tr>
                                            <tr>
                                            <th>Datos Boleto</th>
                                                <td>
                                                    <textarea readonly="true" style="max-width: 98%;min-width: 99%;width: 98%;min-height: 150px;max-height: 150px;">{{entity.datosBoleto}}</textarea>                                                   
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                            <th>VTC</th>
                                                <td>
                                                    {%if entity.vtc%}
                                                        {{entity.vtc}}
                                                     {%else%}
                                                        --
                                                     {%endif%}
                                                </td>
                                            </tr>
                                            <tr>
                                            <th>Orden que Anula</th>
                                                <td>
                                                   {{entity.tarjet}}
                                                </td>
                                            </tr>
                                           
                                            
                                            <tr>
                                                <th>Estado</th>
                                                <td>
                                                    {{entity.estado}}
                                                </td>
                                            </tr>
                                            <tr>
                                            <th>Comentarios M&M</th>
                                                <td>
                                                    {%if entity.comentario%}
                                                        <textarea readonly="true" style="max-width: 98%;min-width: 99%;width: 98%;min-height: 250px;max-height: 250px;"> {{entity.comentario}}</textarea>                                                       
                                                     {%else%}
                                                        --
                                                     {%endif%}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Record GDS</th>
                                                <td>
                                                    {{entity.recordGds}}
                                                </td>
                                            </tr>
                                            
                                             <tr>
                                            <th>Observaciones</th>
                                                <td>
                                                    {%if entity.observaciones%}
                                                        <textarea readonly="true" style="max-width: 98%;min-width: 99%;width: 98%;min-height: 250px;max-height: 250px;"> {{entity.observaciones}}</textarea>                                                       
                                                     {%else%}
                                                        --
                                                     {%endif%}
                                                </td>
                                            </tr>
                                             
                                            
                                             <tr>
                                                <th>Tour Code</th>
                                                <td>
                                                    {{entity.tourcode}}
                                                </td>
                                            </tr>
                                            <tr>
                                             <th>N&uacute;mero de Pasajeros </th>
                                                <td>
                                                    {{entity.numPasajeros}}
                                                </td>
                                            </tr>
                                        
                                        </table>
                                    </div>
                            </div><!-- /.box -->

                            

                        </div>
    
    
    
{% endblock %}
 {% block javascripts %}
      {{parent()}}
     <script type="text/javascript">
      function openAdjunto(adjunto)
        {
           window.open(String(adjunto)); 
        }
     </script>
  {% endblock %}
  

  