
{% extends 'BaseBundle:Masters:master.html.twig' %}

 {% block stylesheets %}
     {{parent()}}
            
        {% endblock %}
        
    {% block logo %}
        <img src="{{asset('bundles/base/img/logos/logo1.png')}}" style="width: 20%;" alt="cross"/>
    {% endblock%}
        
   {% block projectname %}
        CrossFire
   {% endblock %}
        
 {% block sidebar %} 
                        
               <li class="">
                            <a href="{{path('ordenes')}}">
                                <i class="fa fa-align-justify"></i> <span>Ordenes Pendientes</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="{{path('emision_edit',{'id':entity.id})}}">
                                <i class="fa fa-cog"></i> <span>Procesar Orden</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="{{path('render_email',{'entity':entity.id})}}">
                                <i class="fa fa-envelope"></i> <span>Enviar Email Agente</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" >
                                <i class="fa  fa-credit-card"></i> <span>Formas Pago</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#" id="pdf">
                                <i class="fa fa-download"></i> <span>PDF</span>
                            </a>
                        </li>
                                                                  
                                        
                        
                        
                       
                        
                       
 {% endblock %}
 
 {%block titlepage %}
     <h1>
        Dashboard
        <small>Enviar email</small>
    </h1>
 {%endblock%}
 
  {% block breadcrumb %}
     <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
     <li class="">Emisiones</li>
     <li class="active">Enviar email</li>
 {% endblock %}
  
 {% block area %}
      {% block notificaciones %}{% endblock %}
     <div class="col-md-12">

       <div class="box box-primary">
           <form id="sendmail" method="post" action="{{path('enviar_email')}}" enctype="multipart/form-data">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-envelope"></i> Enviar email </h3>
                    <div class="pull-right box-tools">                      
                                        
                        <button  type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-in"></i> Enviar</button>                                        
                       </div>
                </div>
                
                <div class="box-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Para:</span>
                                    <input required="true" style="color: blue;" type="email"  placeholder="Email TO" class="form-control input-sm" name="email_to" id="email_to">
                                    <span data-toggle="tooltip" title="" data-original-title="Campo Obligatorio" class="input-group-addon"><b style="color: red;">*</b></span>
                                    <input  type="hidden" name="sender" id="sender" value="{{app.user.email}}">
                                    <input  type="hidden" name="entity" id="entity" value="{{entity.id}}">
                               </div>
                            </div>
                        
                        <div id="cc" class="form-group" >
                                <div class="input-group" >
                                    <span class="input-group-addon">CC:</span>
                                    <input style="color: blue;" type="email" placeholder="Email CC" class="form-control input-sm" name="email_cc" id="email_cc">
                                </div>
                            </div>
                            <div id="bcc" class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">BCC:</span>
                                    <input style="color: blue;" type="email" placeholder="Email BCC" class="form-control input-sm" name="email_bcc" id="email_bcc">
                                </div>
                            </div>
                        <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Asunto:</span>
                                    <input required="true" type="text" placeholder="Asunto" class="form-control input-sm" name="email_subject" id="email_subject">
                                    <span data-toggle="tooltip" title="" data-original-title="Campo Obligatorio"class="input-group-addon"><b style="color: red;">*</b></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea style="height: 120px;" placeholder="Mensaje" class="form-control input-sm" id="email_message" name="email_message"></textarea>
                            </div>
                        
                            
                                
                   
                   </div>
                 
                    <div class="box-footer">
                        <div class="form-group">                              
                                <input id="upl" type=file name="upl" style="visibility:hidden;position:absolute;top:0;left:0" onchange="document.getElementById('info').innerHTML=this.value+'&nbsp;&nbsp;&nbsp;'+ Math.round(this.files[0].size/1024*100)/100+' KB'">  
                                <button class="btn btn-xs btn-primary" type=button onclick="this.form.upl.click()"><i class="fa fa-paperclip"></i> <span id="info" >Adjuntar Archivos</span></button>                               
                                <p class="help-block">Para adjuntar m&uacute;ltiples archivos comprimalos en un solo fichero.</p>
                            </div> 
                            
                    </div>
               </form>             
            
            </div><!-- /.box -->
                            

                            

     </div>
     
  {% endblock %}
     {% block javascripts %}
      {{parent()}}
     
      {% include 'EmisionesBundle:Snippets:exportarpdf.html.twig' %}
  {% endblock %}
  
