
{% extends 'BaseBundle:Masters:index.html.twig' %}
{% block sidebar %} 
   {% include 'EmisionesBundle:Menu:submenucounter.html.twig' %}  
 {% endblock %}
 
   
 {%block titlepage %}
     <h1>
        Ordenes
        <small>Procesar</small>
    </h1>
 {%endblock%}

 {% block breadcrumb %}
     <li><a href="{{path('index')}}"><i class="fa fa-dashboard"></i> Home</a></li>
     <li> <a href="{{path('EmisionesBundle_queue_manger')}}"><i class="fa fa-align-justify"></i> Ordenes</a></li>
     <li class="active">Procesar</li>
 {% endblock %}

{% block area -%}
    
    <div class="col-md-12">

                            <div class="box box-primary">
                                <div class="box-header">
                                    <div class="pull-right box-tools pull-left">                                        
                                        <a href="{{path('EmisionesBundle_queue_manger')}}" title="" data-toggle="tooltip"  class="btn btn-circle btn-sm btn-bg bg-blue" data-original-title="Cola"><i class="fa fa-sort-numeric-asc"></i></a>
                                    </div>
                                        <h3 class="box-title pull-right"><i class="fa fa-suitcase"></i> {{entity.agente.agencia}}&nbsp;&nbsp;&nbsp;{{entity.agente.agencia.ruc}}</h3>
                                </div><hr>
                 <form  action="{{path('counter_emision_update',{'id':entity.id})}}" method="post">
                                <div class="box-body">                                    
                                   <div class="row"> 
                                       {%if entity.adjunto%}
                                                    <div class="col-md-12">
                                                        <a onclick="openAdjunto('{{entity.adjunto}}');" href="#"><i class="fa fa-clipboard"></i> {{entity.adjunto}}</a>
                                                        <br><br>
                                                    </div> 
                                                {%endif%}
                                <div class="col-md-6">    
                                    <div class="form-group" >
                                         <label>N&uacute;mero de Orden:</label>
                                        <div class="input-group" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-file-o"></i>
                                            </div>                                            
                                            {{ form_widget(edit_form.numeroOrden)}}                                              
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.numeroOrden)}}
                                    </div>
                                    <!-- Date dd/mm/yyyy -->
                                    <div class="form-group">
                                        <label>Agente:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div> 
                                
                                            {{form_widget(edit_form.agente)}}
                                                <div id="wrap"> </div>  
                                        </div><!-- /.input group -->
                                       <div>
                                            <span class=""><i class="fa fa-envelope"></i> {{entity.agente.email}}</span>
                                            <span class="" style="margin-left: 20px;"> <i class="fa fa-mobile"></i> {{entity.agente.celular}}</span>
                                            <span class="" style="margin-left: 20px;"> <i class="fa fa-phone-square"></i> {{entity.agente.telefono}}-Ext:{{entity.agente.ext}}</span>
                                       </div>
                                        {{form_errors(edit_form.agente)}}
                                    </div><!-- /.form group -->
                                    <div class="form-group">
                                        <label>Gds:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-cogs"></i>
                                            </div>                                                                
                                            {{ form_widget(edit_form.gds)}}
                                                <div id="wrap"> </div>                                            
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.gds)}}
                                    </div><!-- /.form group -->
                                    

                                    <!-- Date mm/dd/yyyy -->
                                    <div class="form-group">
                                         <label>Tipo Boleto:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-file-o"></i>
                                            </div>
                                            {{ form_widget(edit_form.tipoBoleto)}}
                                                <div id="wrap"> </div>
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.tipoBoleto)}}
                                    </div><!-- /.form group -->
                                    
                                      <!-- Date mm/dd/yyyy -->
                                    <div class="form-group">
                                         <label>Fecha Solicitud:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            {{ form_widget(edit_form.fecha)}}
                                                <div id="wrap"> </div>
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.fecha)}}
                                    </div><!-- /.form group -->
                                    
                                    <div class="form-group">
                                         <label>Estado:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-tag"></i>
                                            </div>
                                            {{ form_widget(edit_form.estado)}}
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.estado)}}
                                    </div><!-- /.form group -->
                                    
                                    <div class="form-group">
                                        <label>FEE Servicios:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-money"></i>
                                            </div>
                                           {{ form_widget(edit_form.feeServicios)}}                                            
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.feeServicios)}}
                                    </div>
                                    
                                     <div class="form-group">
                                         <label>Record GDS:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-barcode"></i>
                                            </div>
                                            {{ form_widget(edit_form.recordGds)}}                                                
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.recordGds)}}
                                    </div><!-- /.form group -->
                                    
                                     <div class="form-group">
                                         <label>Tour Code:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-barcode"></i>
                                            </div>
                                            {{ form_widget(edit_form.tourcode)}}                                                                                        
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.tourcode)}}
                                    </div><!-- /.form group -->
                                </div>
                                    
                                 <div class="col-md-6">  
                                     <div class="form-group">
                                         <label>Ciudad Destino:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            {{ form_widget(edit_form.ciudadDestino)}}
                                                 <div id="wrap"> </div>
                                        </div><!-- /.input group -->
                                        {{form_errors(edit_form.ciudadDestino)}}
                                    </div><!-- /.form group -->
                                    
                                     <div class="form-group">
                                        <label>Reserva PNR:</label>
                                        <div class="input-group">
                                            {{ form_widget(edit_form.reservaPnr)}}
                                                                                         
                                        </div><!-- /.input group -->
                                         {{form_errors(edit_form.reservaPnr)}}
                                    </div><!-- /.form group -->
                                    
                                    
                                     <div class="form-group">
                                        <label>Tarifa Reserva:</label>
                                        <div class="input-group">
                                            
                                            {{ form_widget(edit_form.tarifaReserva)}}
                                            {{form_errors(edit_form.tarifaReserva)}}
                                        </div><!-- /.input group -->
                                    </div><!-- /.form group -->
                                    
                                 </div>
                               </div>
                                    <div class="form-group">
                                        <label>Observaciones:</label>
                                            {{ form_widget(edit_form.observaciones)}}
                                            {{form_errors(edit_form.observaciones)}}
                                       
                                    </div><!-- /.form group -->
                                    
                                     <div class="form-group">
                                        <label>Comentarios M&M:</label>
                                            {{ form_widget(edit_form.comentario)}}
                                            {{form_errors(edit_form.comentario)}}
                                       
                                    </div>
                            {#-formas de pagos-#}
                                    <hr>
                                   {%for fp in entity.formasPagos%} 
                                        {%if fp.tipo == 'Tarjeta Credito'%}
                                         <div class="box box-solid box-primary">
                                            <div class="box-header ">                                    
                                                <h3 class="box-title pull-right"><i class="fa fa-credit-card"></i> Tarjeta de Cr&eacute;dito</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                
                                                <table class="table table-responsive table-bordered table-condensed table-striped">
                                                    <tbody>

                                                        <tr>
                                                            <th>Emisor VTC</th>
                                                            <td>{{ fp.emisorVtc }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Aerolinea</th>
                                                            <td>{{ fp.aerolinea }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Banco Emisor Tarjeta</th>
                                                            <td><b class="text-red">{{ fp.bancoEmisorTarjeta }}</b></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tipo Tarjeta</th>
                                                            <td>{{ fp.tipoTarjeta }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>N&uacute;mero Tarjeta</th>
                                                            <td>{{ fp.numeroTarjeta }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Propietario</th>
                                                            <td>{{ fp.propietario }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Vence</th>
                                                            <td>{{ fp.vence|date('m/Y') }}</td>
                                                        </tr>          
                                                        <tr>
                                                            <th>Tipo Pago</th>
                                                            <td>{{ fp.tipoPago }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Plazo</th>
                                                            <td>{{ fp.plazo }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tipo Autorizaci&oacute;n</th>
                                                            <td>{{ fp.tipoAutorizacion }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>C&oacute;digo Seguridad</th>
                                                            <td>{{ fp.pin }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>N&uacute;mero Autorizaci&oacute;n</th>
                                                            <td>{{ fp.numeroAutorizacion }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor Tarjeta</th>
                                                            <td>$ {{ fp.valorTarjeta }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Inter&eacute;s Tarjeta</th>
                                                            <td>$ {{ fp.interesTarjeta }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor Total</th>
                                                            <td>$ {{ fp.valorTotal }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Paga a Pasajeros</th>
                                                            <td>{{ fp.pagoPasajeros }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                </div><!-- /.box-body -->
                                          </div>
                                        {%endif%}
                                        {%endfor%}
                                        
                                        {#----DETB------#}
                                       {%for fp in entity.formasPagos%} 
                                        {%if fp.tipo == 'DETB'%}
                                            <div class="box box-solid box-primary">
                                            <div class="box-header ">                                    
                                                <h3 class="box-title pull-right"><i class="fa fa-barcode"></i> {{ fp.transaccion }}</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-responsive table-bordered table-condensed table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <th>Banco</th>
                                                                <td>{{ fp.banco }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>N&uacute;mero Documento</th>
                                                                <td>{{ fp.numeroDocumento }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Valor</th>
                                                                <td>{{ fp.valor }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Transacci&oacute;n</th>
                                                                <td>{{ fp.transaccion }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.box-body -->
                                          </div>
                                        {%endif%}
                                        {%endfor%}
                                        {#---------Pagos Directos--------------#}
                                        {%for fp in entity.formasPagos%} 
                                        {%if fp.tipo == 'Pago Directo'%}
                                            <div class="box box-solid box-primary">
                                            <div class="box-header ">                                    
                                                <h3 class="box-title pull-right"><i class="fa fa-money"></i> Pago Directo</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-responsive table-bordered table-condensed table-striped">
                                                    <tbody>

                                                        <tr>
                                                            <th>Tipo Pago</th>
                                                            <td>{{ fp.tipoPago }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor</th>
                                                            <td>{{ fp.valor }}</td>
                                                        </tr>        
                                                    </tbody>
                                                </table>
                                            </div><!-- /.box-body -->
                                          </div>
                                        {%endif%}
                                   {%endfor%}
                                    
                                    
                              
                                </div><!-- /.box-body -->
                                <div class="box-footer">
                                    {{ form_rest(edit_form) }}
                                    {{ form_errors(edit_form) }}
                                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> &nbsp;CONFIRMAR </button> 
                                </div>
                             </form>
                            </div><!-- /.box -->
                            

                        </div>
    
    
    
{% endblock %}
 {% block javascripts %}
      {{parent()}}
     <script type="text/javascript">
      function openAdjunto(adjunto)
        {
           window.open(String(adjunto)); 
        }
     </script>
  {% endblock %}
  

  
