{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Agente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Ci</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Ext</th>
                <th>Convencional</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('agente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.ci }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.ext }}</td>
               
                <td>
                <ul>
                    <li>
                        <a href="{{ path('agente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('agente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
