
{% extends 'BaseBundle:Masters:master.html.twig' %}

 {% block stylesheets %}
     {{parent()}}
            <link href="{{ asset('bundles/base/css/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
           
        {% endblock %}
 
        
 {% block sidebar %} 
        {% include 'EmisionesBundle:Menu:submenucounter.html.twig' %}        
 {% endblock %}
 
 {%block titlepage %}
     <h1>
        Dashboard
         <small>Orden  {{entity.numeroOrden}} </small>
    </h1>
 {%endblock%}
 
  {% block breadcrumb %}
     <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
     <li class="">Formas de Pago</li>
     <li class="">Tarjeta de Cr&eacute;dito</li>
     <li class="">{{fp.id}}</li>
 {% endblock %}
  
 {% block area %}
      <div class="col-md-12">
     <div class=" box  box-primary">
                                <div class="box-header">
                                    <div class="pull-right box-tools pull-left">
                                        
                                        <a href="{{path('counter_formas_pago',{'orden':entity.id})}}" title="" data-toggle="tooltip"  class="btn btn-circle btn-sm btn-bg bg-blue" data-original-title="Formas de Pago"><i class="fa fa-list"></i></a>
                                    </div>
                                    <h3 class="box-title pull-right">Formas de Pago Orden: {{entity.numeroOrden}}</h3>
                                </div><!-- /.box-header -->
                                <hr>
                                <div class="box-body table-responsive">
                                     
      <table class="table table-responsive table-bordered table-condensed table-striped">
        <tbody>
            
            <tr>
                <th>Emisor VTC</th>
                <td>{{ fp.emisorVtc }}</td>
            </tr>
            <tr>
                <th>Aerolinea</th>
                <td>{{ fp.aerolinea }}</td>
            </tr>
            <tr>
                <th>Banco Emisor Tarjeta</th>
                <td>{{ fp.bancoEmisorTarjeta }}</td>
            </tr>
            <tr>
                <th>Tipo Tarjeta</th>
                <td>{{ fp.tipoTarjeta }}</td>
            </tr>
            <tr>
                <th>N&uacute;mero Tarjeta</th>
                <td>{{ fp.numeroTarjeta }}</td>
            </tr>
            <tr>
                <th>Propietario</th>
                <td>{{ fp.propietario }}</td>
            </tr>
            <tr>
                <th>Vence</th>
                <td>{{ fp.vence|date('Y-m-d H:i:s') }}</td>
            </tr>          
            <tr>
                <th>Tipo Pago</th>
                <td>{{ fp.tipoPago }}</td>
            </tr>
            <tr>
                <th>Plazo</th>
                <td>{{ fp.plazo }}</td>
            </tr>
            <tr>
                <th>Tipo Autorizaci&oacute;n</th>
                <td>{{ fp.tipoAutorizacion }}</td>
            </tr>
            <tr>
                <th>N&uacute;mero Autorizaci&oacute;n</th>
                <td>{{ fp.numeroAutorizacion }}</td>
            </tr>
            <tr>
                <th>Valor Tarjeta</th>
                <td>$ {{ fp.valorTarjeta }}</td>
            </tr>
            <tr>
                <th>Inter&eacute;s Tarjeta</th>
                <td>$ {{ fp.interesTarjeta }}</td>
            </tr>
            <tr>
                <th>Valor Total</th>
                <td>$ {{ fp.valorTotal }}</td>
            </tr>
            <tr>
                <th>Paga a Pasajeros</th>
                <td>{{ fp.pagoPasajeros }}</td>
            </tr>
        </tbody>
    </table>
                                </div><!-- /.box-body -->
     </div><!-- /.box -->
          </div>
  {% endblock %}
  
  {% block javascripts %}
      {{parent()}}
         {% include 'EmisionesBundle:Snippets:exportarpdf.html.twig' %}
  {% endblock %}



